@model IEnumerable<movieflix_app.Models.MovieViewModel>

@foreach(var movie in Model){
  <div class="card">
  <a href="/movie-details.html?id=${movie.id}">
    <img src="@movie.Poster" alt="Movie Titel"/>
  </a>
  <div class="card-body">
    <h5 class="card-title">@movie.Title</h5>
    <p class="card-text">
      <small class="text-muted">Premiär datum: @movie.Releasedate </small>
    </p>
  </div>
  </div>
}